@model IEnumerable<Movie> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Top 250 Movies of all time</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model) {
            <tr>
                <td>@Html.DisplayFor(x => movie.Id)</td>
                <td>@Html.DisplayFor(x => movie.Title)</td>
                <td>@Html.DisplayFor(x => movie.MPAARating)</td>
            </tr>
        }
    </tbody>
</table>

@section scripts 
{
    <script>
        $(function(){
            alert("Jquery Works");
        });
    </script>
}