@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is created to be an example for training purposes.  
    Any information you give is given freely by you, of your own accord.</p>
<p>For this site, no information is being purposefully collected, analyzed, or stored. 
    By using this site you expressly permit the use of cookies for typical actions like sessions if necessary.  
    If you do not wish to permit this, close the site now.</p>
<p>By using this site you inherently release the owners and creators of this site 
    from any liability around your personal identity or information. 
    If you do not agree to this policy, please close the browser now.</p>

